body {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}


.garage_unit {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
  border-bottom: 2px dotted blueviolet;
}

.garage_edit-car {
  display: flex;
  width: 100%;
}

.garage_race-car {
  display: flex;
  width: 10%;
}

.garage_lane {
  display: flex;
  width: 100%;
}

.garage_track {
  width: 100%;
}

.garage_name {
  padding-left: 1em;
}